<ion-header>
  <ion-toolbar>
    <ion-title>
      Todo app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-text color="text" color="primary">
      <h1>Todo {{todoService.getItemCount()}}</h1>
    </ion-text>
    <ion-list *ngFor="let item of todoService.getItems(); index as i">
      <ion-item>
        {{item.description}}
        {{item.due | date: 'dd.MM.yyyy'}}
        <ion-icon name="trash" (click)="todoService.removeItem(i)"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add" (click)="add()"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>